@model OnlineJobPortal.Entity.AdminDetails
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>AdminId</label>
        <input type="number" value="" asp-for="AdminId" class="form-control">
    </div>
    <div class="form-group">
        <label>AdminName</label>
        <input type="text" value="" asp-for="AdminName" class="form-control">
    </div>
    <div class="form-group">
        <label>AdminMail</label>
        <input type="text" value="" asp-for="AdminMail" class="form-control">
    </div>
    <div class="form-group">
        <label>AdminPassword</label>
        <input type="text" value="" asp-for="AdminPassword" class="form-control">
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
    <input type="button" value="Reset" class="btn btn-primary">

    <hr />
    <div>
        @{
            if (@ViewBag.status == "Ok")
            {
                <div class="alert alert-success">@ViewBag.message</div>
            }
            else
            {
                <div class="alert alert-danger">@ViewBag.message</div>
            }
        }
    </div>
}
