@model OnlineJobPortal.Entity.JobseekersDetails
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Name</label>
        <input type="text" value="" asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label>Qualification</label>
        <input type="text" value="" asp-for="Qualification" class="form-control">
    </div>
    <div class="form-group">
        <label>TechnicalSkills</label>
        <input type="text" value="" asp-for="TechnicalSkills" class="form-control">
    </div>
    <div class="form-group">
        <label>Experience</label>
        <input type="number" value="" asp-for="Experience" class="form-control">
    </div>
    <input type="submit" value="Update" class="btn btn-primary">
    <input type="button" value="Reset" class="btn btn-primary">

    <hr />
    <div>
        @{
            if (@ViewBag.status == "Ok")
            {
                <div class="alert alert-success">@ViewBag.message</div>
            }
            else
            {
                <div class="alert alert-danger">@ViewBag.message</div>
            }
        }
    </div>
}

